
/*Uma paginá web com funcionalidades de uma calculadora simples. Abaixo se encontra o CSS do projeto */ 
body{
    margin:0px;
}
.div_left{
    width: 10%;
    height: 100%;
    float:left ;
}
.div_top{
    width:80%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_calculator{
    float:left;
    font-family: Arial;
    width: 80%;
    height: 90%;
}
.div_entry{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50px;
}
.box_anwser{
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    height: 37px;
    font-size: large;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
}
.box_data{
    background-color: #EEE;
    font-family: Arial;
    font-size: large;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-width: 1px;
    height: 37px;
    margin-left: 5px;
    margin-right: 5px;
}
.operation{
    background-color: #ff8000;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-width: 1px;
    width: 37px;
    height: 37px;
    border: none;
    border-radius: 5px;
    font-family: Arial;
    font-size: 14px;
    color: white;
}
.limpar{
    background-color: #ff8000;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-width: 1px;
    width: 50px;
    height: 37px;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
}
.maker:hover, .operation:hover, .limpar:hover{
    background-color: #EE5000;
    cursor: pointer;
}
.box_data:hover{
    background-color: black;
    color: white;
}
.button_top{
    font-family: Arial;
    font-size: large;
    background-color: #ff8000;
    color: white;
    border-radius: 5px;
    border: none;
    height: 50px;
    margin-left: 150px;
}
