
/*CSS de um website com meu portfólio */
body{
	margin:0px;
    background-color: #003b43;
}
img{
	border-radius: 10px;
	border-width: 10px;
	border-style:double;
	border-color:aquamarine;
    width:40%;
    height: 40%;
}
.estilo-menu{
	width:fit-content;
	height:fit-content;
	background-color: #003b43;
}
.estilo-header{
    padding: 0.5%;
    display: flex;
    justify-content: center;
	width: 100%;
	height:fit-content;
}
.estilo-cabecalho{
    padding: 0.7%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
	border-image: linear-gradient(to bottom, #3FD0C9, #04FF00);
	border-image-slice: 1;
	border-width: 0.25vw;
	border-style: solid;
}
.cabecalho-content{
	padding: 0.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	color:aquamarine;
    height: fit-content;
    width:fit-content ;
	background-color:transparent;
    margin-left: 1%;
    border-width: 0.4vw;
	border-style:solid;
	border-color: transparent;
}
.estilo-corpo{
	width: 100%;
	height:fit-content;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	overflow-y: scroll;
    background-image: linear-gradient(to bottom, #003b43, #3FD0C9);
	color:#04ff00;
}
.text-box{
	background-color: #003b43;
	border-style: double;
	font-size:medium;
	height: fit-content;
	width: fit-content;
	padding: 0.5px;
}
/*.menu-option{
    display: flex;
    justify-content: center;
    margin-left: 5%;
	width:25%;
	height:fit-content;
    margin-top:2%;
}*/
.menu-option{
	height:fit-content;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu-selection{
	margin-top: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	height:fit-content ;
}
.menu-button{
	display: flex;
	justify-content: center;
	align-items: center;
	height:fit-content;
	width:fit-content;
    font-size:x-large;
	background-color: black;
	border-width:0.3vw;
	border-image: linear-gradient(#003b43, #3FD0C9);
	border-image-slice: 1;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:aquamarine;
}
.menu-image{
	width:90%;
	height:10%;
	display: flex;
	justify-content: center;
}
.menu-button:hover{
    color:lawngreen;
	border-image: linear-gradient(#04FF00, #3FD0C9);
	border-image-slice: 1;
	cursor: pointer;
}
.cabecalho-content:hover{
    color: #04FF00;
    border-image: linear-gradient(#04FF00, #3FD0C9, darkcyan);
	border-image-slice: 1;
}
::-webkit-scrollbar{
	background-color:transparent
}
::-webkit-scrollbar-thumb{
	background-color:darkcyan;
	border-radius: 5px;
}
::-webkit-scrollbar-corner{
	background-color: transparent;
}
